.btn-primary {
  color: #fff;
  background-color: #bd5d38;
  border: 1px solid white;
  border-radius: 25px;
  padding: 9px;
  margin-bottom: 20px;
  outline: none;
}
.contact-me {
  margin-left: 10px !important;
}
