<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Manish
            <span class="text-primary">Patidar</span>
        </h1>
        <div class="subheading mb-5">
            <a href="mailto:manishpatidar028@gmail.com">manishpatidar028@gmail.com</a>
        </div>
        <p class="lead mb-5">I am experienced in leveraging agile frameworks to provide a robust synopsis for high level
            overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall
            value proposition.</p>
        <div class="connect">
            <button class="btn-primary" (click)="downloadCV()"> Download CV</button>
            <button class="btn-primary contact-me" onclick="location.href='mailto:manishpatidar028@gmail.com'"> Contact Me</button>
        </div>
        <div class="social-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/manish-patidar-30628b152"><i
                    class="fa fa-linkedin-square"></i></a>
            <a class="social-icon" href="https://github.com/manishpatidar028"><i class="fa fa-github"></i></a>
            <!-- <a class="social-icon" href="#"><i class="fa fa-twitter"></i></a> -->
            <a class="social-icon" href="https://stackoverflow.com/users/11004482/manish-patidar?tab=profile"><i
                    class="fa fa-stack-overflow"></i></a>
        </div>
    </div>
</section>