<section class="resume-section" id="awards">
    <div class="resume-section-content">
        <h2 class="mb-5">Awards & Certifications</h2>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fa fa-trophy text-warning"></i></span>
                I had completed Diploma Engineering With 9.77 SPI With First Rank in College.
            </li>
            <li>
                <span class="fa-li"><i class="fa fa-trophy text-warning"></i></span>
                Achieved third rank in relay coding competition Of GTU Techfest 2017.
            </li>
            <li>
                <span class="fa-li"><i class="fa fa-trophy text-warning"></i></span>
                Won the Best Student Award at College.
            </li>
            <li>
                <span class="fa-li"><i class="fa fa-trophy text-warning"></i></span>
                3 Times Student volunteer in college tech fest.
            </li>
            <li>
                <span class="fa-li"><i class="fa fa-trophy text-warning"></i></span>
                Having more than 150 reputation on stack overflow.
            </li>
            <li>
                <span class="fa-li"><i class="fa fa-trophy text-warning"></i></span>
                3
                <sup>rd</sup>
                Rank - Relay coding competition Of GTU Techfest 2017.
            </li>
            <li>
                <span class="fa-li"><i class="fa fa-trophy text-warning"></i></span>
                Completed Nodejs Udemy Course Certifications.
            </li>
        </ul>
    </div>
</section>