<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Education</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Aditya Silver Oak institute of technology</h3>
                <div class="subheading mb-3">Bachelor of engineering</div>
                <div>Gujarat Technological University </div>
                <p>GPA: 8.37</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">June 2016 - Feb 2019</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">Swami krishna jivan das institute of technology</h3>
                <div class="subheading mb-3">Diploma in computer engineering</div>
                <div>Gujarat Technological University </div>
                <p>GPA: 8.88</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">June 2013 - March 2016</span></div>
        </div>
    </div>
</section>