<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experience</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Junior Mean Stack Developer</h3>
                <div class="subheading mb-3">Solution Analysts</div>
                <p>Worked on various angular projects. </p>
                <p>Worked in Admin panel using AdminLte 2 and AdminLte 3.</p>
                <p> Made Simple CRUD API in Node js for the projects.</p>
                <p>Assist teammates with debugging and optimization of code.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">June 2019 - Present</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Junior Web Developer</h3>
                <div class="subheading mb-3">Iview Labs PVT. LTD.</div>
                <p>Working in Django & angular project as a front end developer.</p>
                <p>Made Node Js simple CRUD operation API.</p>
                <p>Helping other teammates to enhance quality of code. </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">December 2018 - June 2019</span></div>
        </div>
    </div>
</section>